// READMORE.HTML
// READMORE.HTML
// READMORE.HTML
.readmore-block {
	border-bottom: 1px solid #b3b3b3;
	
	.content {
		padding-top: 50px;
		padding-bottom: 30px;
	}
}

.book-block--width {
	width: 100%;
	padding-left: 40px;

	&:first-child {
		border: none;
	}
}

.book-block__cover--width {
	width: 25%;
}
